@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img class="img-aboutus rev-slidebg" src="~/images/domesticcleaning.webp" />
</div>

<div class="container text-justified">
    <div class="row">
        <h2 class="text-center text-capitalize home-title p-4">CARPET CLEANING LONDON</h2>


        <p>Our team of expert carpet technicians are highly trained specialists dedicated to revitalizing your carpets with a meticulous level of care and attention. Whether it's your home or office, we understand that clean carpets contribute significantly to the overall atmosphere and appeal of your space.</p>
        <p>Covering Central and Greater London areas, as well as surrounding cities, Concept Cleaning Services is your trusted partner for professional carpet care.</p>
        </section>
        <section>
            <h2 class="text-capitalize home-title p-4">Why Vacuuming Alone Isn’t Enough</h2>
            <p>Even with regular vacuuming, carpets can harbor dirt, bacteria, and parasites over time. Off-the-shelf cleaning detergents may provide temporary relief, but they often fall short of achieving deep cleanliness.</p>
        </section>
        <section>
            <h2 class="text-capitalize home-title p-4">Our 5-Step Approach</h2>
            <p>Benefit from our proven 5-step carpet cleaning process:</p>
            <ol>
                <li>Pre-inspection and Carpet Audit</li>
                <li>Vacuuming if Needed</li>
                <li>Pre-spray</li>
                <li>Pre-treat Any Stains and Marks</li>
                <li>Extraction</li>
            </ol>
        </section>
        <section>
            <h2 class="text-capitalize home-title p-4">Commitment to Quality and Safety</h2>
            <p>At Concept Cleaning Services, we prioritize quality and safety. Our cleaning technicians are professionally certified, and we utilize state-of-the-art equipment and eco-friendly cleaning products that are safe for children and pets.</p>
            <p>Rest assured, all our services are Covid-safe, adhering to the latest government and public health guidelines.</p>
        </section>

    </div>
</div>